/* 
    템플릿을 받으면 기존에 있는 css는 바꾸지 말고 새 CSS를 만들어서 추가하면 위험도가 낮아짐
    수정하고 싶은 코드를 긁어서 가져와서 새 css에 덧붙여서 바꿀 것
*/

#header > .logo span {
    font-weight: 300;
    font-size: 1rem;
    padding-top: 10px;
    display: block;
    color: rgba(255, 255, 255, 0.65);
}

#moonD{
    background-color: #7CBDFF;
}

#moonI{
    width: 100px;
    text-align: center;
}

/* .song-icon img{
    width: 20px;
    height: 20px;
} */
.song-icon:hover{
    opacity: 50%;
}

body:after {
    -moz-pointer-events: none;
    -webkit-pointer-events: none;
    -ms-pointer-events: none;
    pointer-events: none;
    -moz-transition: opacity 1.5s ease-in-out, visibility 1.5s;
    -webkit-transition: opacity 1.5s ease-in-out, visibility 1.5s;
    -ms-transition: opacity 1.5s ease-in-out, visibility 1.5s;
    transition: opacity 1.5s ease-in-out, visibility 1.5s;
    content: '';
    background-image: url(../../images/sam01.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    visibility: visible;
    opacity: 1;
}

    .song-icon{
        width: 100%;
    }

    .song-icon:hover{
        opacity: 50%;
    }

    .song-title{
        display: flex;
        justify-content: space-around;
    }

    /* .song-view{
        position: relative;
        border: 2px;
        opacity: 0%;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
    } */

    .song-view:hover{
        opacity: 100%;
    }

    /* .song1{
        position: relative;
        top: 0px;
        left: 0px;
    } */